<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeerLogger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BBCA83D21BE7E6C500A20377</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBCA83E91BE7E6C600A20377</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBCA83F41BE7E6C600A20377</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
